.image_container {
    width: 240px;
    height: fit-content;
    /* position: relative; */
    overflow: hidden;
    border-radius: 15px;
    margin: 10px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    /* background-color: green; */
}

.image_container .imageCard {
    width: 240px;
    height: 270px;
    /* background-size: cover; */
    background-position: center;
    /* transition: transform .2s ease-in-out; */
    background-color: lightgray;
}

.image_container img {
    /* opacity: 0.3; */
    width: 100%;
    height: 100%;
    /* background-size: contain; */
    /* object-fit: cover; */
    /* object-fit: fill; */
}

.caption {
    width: 240px;
    min-height: fit-content;
    max-height: 5rem;
    /* height: fit-content; */
    overflow-y: scroll;
    /* text-overflow: clip; */
    padding: 0.5rem 1rem;
    /* border: 1px solid gray; */
    /* background-color: red; */
}

.caption::-webkit-scrollbar {
    display: none;
}

.image_button_icons {
    /* position: absolute; */
    /* margin-top: -20rem; */
    width: 100%;
    height: fit-content;
    background-color: lightgray;
    /* position: absolute; */
    /* z-index: 100; */
    display: flex;
    /* justify-content: space-around; */
}

.image_button {
    width: 100%;
    height: fit-content;
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
}